# Python compiled bytecode #
*.pyc

# file with tilde #
*~

# secret settings in django #
settings_secret.py

# test file for Quandl data import
stockQuandl_Test.py

#database dump
out.json
db.json

# directories
codea/media/
stockenv/
