/*General, main and body----------------------------------------------*/

/*14C18D*/

.div-background{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.bg-image{
	background: url(../img/NewYork2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Plotting div--------------------------------------------------------*/
.div-plot{
    min-height: 100%;
	z-index: 20;
	width: 100%;
    position: relative;
    background: rgba(1, 1, 1, 0.9);
	color: #F3EFE0;
}

#stockform{
    margin-top: 2%;
    margin-left: 7px;
}

.form-control{
    border: none;
}

.databox{
    min-height: 40px;
    width: 100%;
    border: 1px solid rgba(50, 50, 50, 0.7);
    border-radius: 2px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn-group{
    margin-left: 7px;
}

.timeframe-group{
    float: right;
}

.btn-timeframe{
    background: rgba(50, 50, 50, 0);
    color: #F3EFE0;
    border: 0px solid;
}

.btn-timeframe:hover, .btn-timeframe:focus{
    background: rgba(50, 50, 50, 0);
    color: #F3EFE0;
    border: 0px solid;
    border-bottom: 1px solid rgba(20, 193, 141, 0.7);
}


.btn-timeframe.active, .btn-timeframe.active.focus,
.btn-timeframe.active:focus, .btn-timeframe:active.focus,
.btn-timeframe:active:focus{
    background: rgba(50, 50, 50, 0);
    color: #F3EFE0;
    border: 0px solid;
    border-bottom: 1px solid rgba(20, 193, 141, 1);
    -webkit-box-shadow: inset 0 0 0;
    -moz-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
    font-weight: 600;
    outline: 0;
}

.form-plot{

}

.btn-plot{
    background: rgba(50, 50, 50, 0);
    color: #F3EFE0;
    border: 1px solid rgba(200, 200, 200, 0.4);
    vertical-align: bottom;
    margin-left: 10px;
}

.btn-stock{
    background: rgba(50, 50, 50, 0);
    color: #F3EFE0;
    border: 1px solid rgba(200, 200, 200, 0.4);
}

.btn-clear{
    background: rgba(50, 50, 50, 0);
    color: #F3EFE0;
    border: 1px solid rgba(200, 200, 200, 0.4);
}


/*Plot window---------------------------------------------------------*/

.plotbox{
    margin-top: 0%;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
}

path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: rgba(50, 50, 50, 0.2);/*#F3EFE0;*/
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 16px;
    line-height: 16px;
    background: rgba(50, 50, 50, 0.8);
    border: 1px solid rgba(1, 1, 1, 1);
    border-radius: 5px;
    font-weight: 600;
}
