/*General, main and body----------------------------------------------*/

/*14C18D*/

/*Depot div--------------------------------------------------------*/
.div-depot{
    min-height: 100%;
	z-index: 20;
	width: 100%;
    position: relative;
    /*backupgradeground: rgba(1, 1, 1, 0.9);
	color: #F3EFE0;*/
    padding-bottom: 4%;
}

.btn-buy{
    vertical-align: bottom;
}

.form-inline .input-amount{
    vertical-align: bottom;
}

.form-inline > *{
    margin-bottom: 10px !important;
    margin-right: 10px !important;
}

.row{
    padding-top: 2%;
}
