/*General, main and body----------------------------------------------*/
.div-home, .div-about,.div-contact{
	min-height: 100%;
    width: 100%;
    position: relative;
}


/*Home page-----------------------------------------------------------*/
.bg-image{
	background: url(../img/NewYork2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container h1{
    margin-top: 10%;
}

.div-home .jumbotron{
    background: transparent;
}

.jumbotron .container{
	position: relative;
	top: 10%;
	text-align: center;
}

.jumbotron .container h1 {
    padding-bottom: 20px;
	font-weight: 600;
    /*border-bottom: 1px solid;*/
	letter-spacing: 5px;
    display: inline-block;
}

.jumbotron .container h2{
	margin-top: 0;
    display: inline-block;
}


.arrow-box{
	z-index: 100;
	position: absolute;
	bottom: 0px;
	height: 80px;
	width: 110px;
	margin-left: -65px;
	left: 50%;
	font-size: 35px;
	text-align: center;
}

.arrow{
	animation-name: bounce;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
	color: #333;
}

@keyframes bounce {
    0%  {padding-top: 6px;}
    50%  {padding-top: 26px;}
    100% {padding-top: 6px;}
}

/*about div-----------------------------------------------------------*/
.div-about{
	background-color: #F3EFE0;
	color: #333;
}

.div-about .jumbotron{
    background: transparent;
}

/*Concact div---------------------------------------------------------*/

.div-contact{
	background-color: rgb(250, 250, 250);
	color: #333;
}
