{% extends "stockbase.html" %}
{% load crispy_forms_tags %}

{% block title %} CodeA - Stockplot App {% endblock %}

{% block loadcss %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'stockplot/css/depotstyle.css' %}"/>
{% endblock %}

{% block content %}

<div class = "div-depot">
    <div class = "container div-top">
    {% if depotform == '' %}
        <h3> Please login to create or view a depot</h3>
    {% else %}
        {% csrf_token %}
        {% crispy depotform %}
        {% crispy stockform %}
    {% endif %}
    </div>
</div>

{% endblock %}

{% block loadjs %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <script src="{% static 'stockplot/js/depotscript.js' %}"></script>
    {{ depotform.media }}
    {{ stockform.media }}
{% endblock %}
