{% extends "stockbase.html" %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% include "django_tables2/bootstrap.html" %}

{% block title %} CodeA - Stockplot App {% endblock %}

{% block loadcss %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'stockplot/css/depotstyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <link rel="stylesheet" href="{% static 'django_tables2/bootstrap.css' %}" />
{% endblock %}

{% block content %}

<div class = "div-depot">
    <div class = "container div-top">
    {% if depotform == '' %}
        <div class = "row">
            <h3> Please login to create or view a depot</h3>
        </div>
    {% elif depotcontent == '' %}
        {% csrf_token %}
        <div class = "row">
            {% crispy depotform %}
        </div>
    {% else %}
        {% csrf_token %}
        <div class = "row">
            {% crispy depotform %}
        </div>
        <div class = "row">
            <h2>Depot - {{ depotname }}:</h2>
            <p><span class = "text-bold">Value start: </span>{{ depotvalue }} </p>
            <p><span class = "text-bold">Current value: </span>{{ total }} </p>
            <p><span class = "text-bold">Change: </span> {{ change }}</p>
            <p><span class = "text-bold">Available: </span> {{ available }}</p>
        </div>
        <div class = "row">
            <div class='col-sm-4'</div>
                <a href = 'buystock' class='btn btn-block btn-primary'> Buy Stock </a>
            </div>
        </div>
        <div class = "row">
            <p> Render table differently for mobile: </p>
            {% render_table depotcontent "django_tables2/bootstrap.html" %}
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block loadjs %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <script src="{% static 'stockplot/js/depotscript.js' %}"></script>
    <script src="{% static 'stockplot/js/depotbuttonscript.js' %}"></script>
    {{ depotform.media }}
    {{ stockform.media }}
{% endblock %}
