{% extends "stockbase.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %} CodeA - Stockplot App {% endblock %}

{% block loadcss %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'stockplot/css/depotstyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}

<div class = "div-depot">
    <div class = "container div-top">
    {% if depotform == '' %}
        <div class = "row">
            <h3> Please login to create or view a depot</h3>
        </div>
    {% elif depotcontent == '' %}
        {% csrf_token %}
        <div class = "row">
            {% crispy depotform %}
        </div>
    {% else %}
        {% csrf_token %}
        <div class = "row">
            {% crispy depotform %}
        </div>
        <div class = "row">
            <h2>Depot - {{ depotname }}:</h2>
        </div>
        <div class = "row">
            {% render_table depotcontent %}
        </div>
        <div class = "row">
            {% crispy stockform %}
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block loadjs %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <script src="{% static 'stockplot/js/depotscript.js' %}"></script>
    {{ depotform.media }}
    {{ stockform.media }}
{% endblock %}
