{% extends "stockbase.html" %}

{% block title %} CodeA {% endblock %}

{% block loadcss %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'stockplot/css/style.css' %}"/>
{% endblock %}

{% block content %}

  <body>
	<div class = "container-fluid div-home bg-image" id="home">
	  <div class = "jumbotron" id="home-div">
		<div class = "container">
			<h1 class = "text-center target">CodeA</h1>
			<br>
			<h2 class = "text-center target">Irgendwas schlaues</h2>
		</div>
	  </div>

	  <a href="#about">
		  <div class = "arrow-box">
				<div class ="arrow target"><i class="fa fa-chevron-down"></i></div>
		  </div>
	  </a>
	</div>
	<div class = "div-about" id ="about">
		<div class = "container">
            <div class = "jumbotron text-center">
                <h2>Welcome to CodeA!</h2>
                <br>
                <p>Irgendein schlauer Text.</p>
                <br>
                <a class ="btn btn-default" href="stockapp/">Go to the stockapp here</a>
            </div>

		</div>

	</div>

	<div class = "div-contact" id ="contact">
		<div class = "container div-main-width">
			<h1 class = "text-center">Contact</h1>
		</div>
	</div>

{% endblock %}

{% block loadjs %}
    {{ block.super }} {# includes previous imports #}
    <script src="{% static 'stockplot/js/script.js' %}"></script>
{% endblock %}
