{% extends "stockbase.html" %}
{% load crispy_forms_tags %}

{% block title %} CodeA - Stockplot App {% endblock %}

{% block loadcss %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'stockplot/css/appstyle.css' %}"/>
{% endblock %}

{% block content %}

    <div class = "div-background bg-image">
    </div>
    <div class = "div-background-static">
    </div>

	<div class = "div-plot" id ="plot">
		<div class = "container">
            <form class = "form-inline" action = "" method="post" id ="stockform">
                {% csrf_token %}
                {% crispy stockform %}
            </form>


            <!-- Div for displaying available data
            <div class = "databox" id="box-top">
            </div>-->


            <div class="btn-group timeframe-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1d">1d</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1w">1w</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1m">1m</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1y">1y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="2y">2y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="5y">5y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="10y">10y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe active" id ="max">max</button>
            </div>

            <!-- Div for displaying plotted data -->
            <div class = "plotbox" id="plot-div">
                <svg id="visualisation"></svg>
            </div>

            <!-- Form for clearing the plot -->
            <!--<form method="GET" action = "" id="clearform">
                {% csrf_token %}
                <button name ="clearbutton" type ="submit" class="btn btn-default btn-sm btn-clear">Clear All</button>
            </form>-->

            <button id = "clear" type ="button" class="btn btn-default btn-sm btn-clear">Clear All</button>
		</div>

	</div>

    <script>
        {% autoescape off %}
        var plotData = {{ plotData }};
        var names = {{ names }};
        {% endautoescape %}
    </script>
{% endblock %}

{% block loadjs %}
    {{ block.super }} {# includes previous imports #}
    {% load staticfiles %}
    <script src="{% static 'stockplot/js/d3.min.js' %}"></script>
    <script src="{% static 'stockplot/js/appscript.js' %}"></script>
    {{ stockform.media }}
{% endblock %}
