{% extends "stockbase.html" %}

{% block content %}
	
    <div class = "div-background bg-image">
    </div>
	
	<div class = "div-plot" id ="plot">
		<div class = "container">
            <form class="form-inline" action = "" method="post" id ="stockform">
                {% csrf_token %}
                <div class ="form-group">
                    <!--<label for="stocksymbolName">Search stock:</label>-->
                    <input type="text" class ="form-control input-sm form-plot" id="stocksymbol" placeholder ="Search Stock">
                </div>
                    <button type="submit" class ="btn btn-default btn-sm btn-plot">Plot</button>
            </form>	

            
            <!-- Div for displaying available data -->
            <div class = "databox" id="box-top"></div>
            
            
            <div class="btn-group timeframe-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1d">1d</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1w">1w</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1m">1m</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="1y">1y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="2y">2y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="5y">5y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe" id ="10y">10y</button>
              <button type="button" class="btn btn-default btn-sm btn-timeframe active" id ="max">max</button>
            </div>
            
            <!-- Div for displaying plotted data -->
            <div class = "plotbox" id="plot-div">
                <svg id="visualisation"></svg>
            </div>
            
            <button class="btn btn-default btn-sm btn-clear" id="clear">Clear All</button>  
            <!--<div class = "databox" id="box-bottom">
                
            </div>-->
		</div>
			
	</div>
	
    <script>
        {% autoescape off %}
        var stockData = {{stockData}};
        var plotData = [];
        {% endautoescape %}
    </script>

 {% endblock %}
